@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствую!</h1>
    <p>В нашем магазине, ты сможешь найти любую электронику от А до Я! <a asp-controller="Items" asp-action="List">Cкорее беги смотреть товары!</a>.</p>
</div>
